<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
    <div id="app">
        <h1>{{message}}</h1>
        <input type="text" v-model="newTask">
        <button type="submit" @click="addNewTask">Add</button>
        <h3>Task to do:</h3>
        <ul v-for="(task, index) in tasks">
            <li v-if="task.done" style="text-decoration: line-through;" @click="task.done = false">{{task.text}} <i class="fa-solid fa-xmark" @click=deleteTask(index)></i></li>
            <li v-else @click="task.done = true">{{task.text}} <i class="fa-solid fa-xmark" @click=deleteTask(index)></i></li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>